#page-wrapper {
  padding: 15px !important;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper { padding: 15px !important; }
}
footer { text-align: center; }
.float-left { float: left; }