<script>
$('#mws-page').delegate( '.btn-one-page', 'click', function(event) {
    event.preventDefault();
    loadSpinner();
    var data = null;
    var url = null;

    if ($(this).attr('data-id')) {
        data = {"id": $(this).attr('data-id')};
    }
    if ($(this).attr('href')) {
        url = $(this).attr('href');

        $.ajax({
            url : url,
            type: 'GET',
            data: data,
            success: function(form) {
                successAjaxForm(form);
            },
            async: true
        });
    }
});

function loadSpinner() {
    $('#mws-page').html('<div class="col-md-12"><i class="fa fa-refresh fa-spin"></i></div>');
    $('body, html').animate({
        scrollTop: '0px'
    }, 300);
}

function successAjaxForm(form) {
    $('#mws-page').html(form);
    //Si tiene select2 lo pongo al 100% para que use todo el class col boostrap
    $('span.select2').css('width', '100%');
    initAjaxForm();
}

function initAjaxForm() {
    $('#mws-page-panel-body > form').submit(function( event ) {
        event.preventDefault();

        var btnSubmit = $(this).find("button[type=submit]:focus");
        var btnName = $(btnSubmit[0]).attr("name");
        var button_disabled = $(this).find('button.disabled');
        if (button_disabled.length <= 0) {
            loadSpinner();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serializefiles(btnName),
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if (data.hasOwnProperty('form')) {
                        successAjaxForm(data.form);
                    }
                    if (data.hasOwnProperty('message')) {
                        toastr.success(data.message);
                    }
                    if (data.hasOwnProperty('postRedirect')) {
                        if (data.postRedirect === 'reload') {
                            location.reload();
                        } else {
                            $.ajax({
                                url : data.postRedirect,
                                type: 'GET',
                                data: null,
                                success: function(form) {
                                    successAjaxForm(form);
                                },
                                async: true
                            });
                        }
                    }
                },
                error: function(error){
                    toastr.error(error);
                },
                async: true
            });
        }
    });
}
//USAGE: $("#form").serializefiles();
(function($) {
$.fn.serializefiles = function(btnName) {
    CKupdate();
    var obj = $(this);
    /* ADD FILE TO PARAM AJAX */
    var formData = new FormData();
    $.each($(obj).find("input[type='file']"), function(i, tag) {
        $.each($(tag)[0].files, function(i, file) {
            formData.append(tag.name, file);
        });
    });
    var params = $(obj).serializeArray();
    $.each(params, function (i, val) {
        formData.append(val.name, val.value);
    });
    /* ADD BUTTON CLICK */
    formData.append(btnName, '');

    return formData;
};
})(jQuery);

function CKupdate() {
    for ( instance in CKEDITOR.instances )
        CKEDITOR.instances[instance].updateElement();
}
</script>